*{
    margin: 10px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom right , #4b84d1
    , #7c54b8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 40px 40px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 30px;
}

input{
    background-color: #f1f1f1;
    border: none;
    height: 30px;
    border-bottom: 1px solid;
    padding-left: 3px;
    outline: none;
}

input:hover{
    background-color: white;
}

.feild{
    background-color: whi;
}


button{
    height: 30px;
    width: 166px;
    background-image:linear-gradient(to right , #4985d1,#7c54b8);
    border: none;
    color: white;
    
}
button:hover{
    background-image:linear-gradient(to left , #4985d1,#7c54b8);
}

a{
    text-decoration: none;
}