* {
  margin: 0px 0px;
  padding: 0px 0px;
  box-sizing: border-box;
}
body {
  background-color: white;
}
/* navbar for desktop */
.nav{
  background-color:white;
  padding: 20px 30px;
  box-shadow: 1px 2px 8px -2px;
  display: flex;
  justify-content: space-between;
}
.nav a{
  margin: 20px 20px;
}
.icon{
  height: 17px;
  width: 20px;
  display: none;
}
.inactive{
    text-decoration: none;
    color: black;
}
.active{
    text-decoration: underline 5px;
    text-decoration-color: red;
    color: black;
}
/* navbar for mobile */
.navmobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* main tag holders*/
.container{
  box-shadow: 0px 2px 5px -1px;
  margin: 40px 10px;
}
.job ,
.message,
.contact,
.left,
.right,
.project{
  display: flex;
  align-items: center;
  justify-content: center;
}
.job,.message,.contact,.project{
  margin: 20px 10px;
}
.left,.right,.project{
  flex-direction: column;
  margin: 20px 5px;
}


/* elements of project div */
.elements{
  margin: 20px 20px;
}
.card{
  float: left;
  border: 1px solid;
  margin: 20px 20px;
  border-radius: 16px;
  box-shadow: 0px 1px 6px -2px;
  width: 200px;
  height: 250px;
}




/* images and illustration */
.ill_dev{
  height: auto;
  width: 85%;
}
.ill_message{
  height: auto;
  width: 70%;
}
.ill_contact{
  height: auto;
  width: 100%;
}



/* text size and decoration */
h3{
  margin: 10px 10px;
  font-size: 2.9vw;
}
.p{
  font-size: 2.9vw;
  margin: 10px 10px;
}
.heading{
  margin: 10px 10px;
  font-size: 5vw;
}




/* footer */
footer{
  background-color: black;
  color:white;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footnav{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footnav a{
  margin: 10px 40px;
  color:red;
  text-decoration: none;
}
.developer{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.developer h3{
  border-bottom: white 1px solid;
  margin: 10px 0px ;
}
.developer p{
  margin: 6px 0px;
}
hr{
  outline-width: inherit;
}
.rights{
  border-top: 3px white solid;

}
.rights h2{
  margin: 27px 0px;
}
@media screen and (max-width: 481px){
  .navdiv-left p {
    font-weight: bold;
  }

  .active ,.inactive{
    display: none;
  }

  .icon{
    display: block;
  }
    
}


