@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    box-sizing: border-box;
    padding: 0px 0px;
    margin: 0px 0px;
}
.container{
    box-shadow: 0px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 7vh 5vw;
}
.container > :first-child{
    background-color: #f4f4f4;
}

.leftpane {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30px;
    width: 90vw;
    height: 86vh ;
}

.rightpane{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30px;
    width: 90vw;
    height: 86vh ;
}

.image{
    height: 15vw;
    width: auto;
}

.heading{
    font-family: "Open Sans", sans-serif;
}

.abouttext{
    font-family: "Open Sans",sans-serif;
    margin-top: 5px;
}

.introholder{
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin: 20px 20px;
}
.head{
    margin-bottom: 40px;
}

.icon{
    width: 25px;
    height: auto;
    margin: 5px 5px;
}
.sociallink{
    margin-top: 20px;
    padding: 10px;
}

.btnholder {
    padding: 0px 0px;
    display: flex;
    align-items: center;
}

#hehe{
    margin: 25px 0px;
}

#emailme{
    margin-right: 0px;
}

.normal{
    background-color: black;
    color: white;
    width: calc((45vw - 120px)/2);
    padding: 10px 0px;
    border-radius: 5px;
    border: 0px;
    margin-right: 30px;
    font-family: "Open Sans",sans-serif;

}

/* For devices up to 600px wide */
@media (max-width: 600px) {
    /* CSS rules for mobile */
   .container{
    flex-direction: column;
    margin: 1vh;
   }
   .image{
    height: 30vh;
    /* box-shadow: 0px 0px 2px 0px; */
   }
   .heading{
    font-size: 5.9vw;
   }
   .normal{
    padding: 10px 25px;
    width: max-content;
   }
   .sociallink{
    margin-top: 0px;
   }
   .introholder{
    margin: 14px 20px;
   }
   .head{
    margin-bottom: 5px;
   }
   .leftpane,.rightpane{
    height: 70vh;
   }
  }